.project-card-title {
	display: flex;
	align-items: center;
}

.project-card-activities {
	margin-left: -12px;
	padding-right: 12px;
}

.project-github-link {
	width: 20px;
	height: 20px;
	filter: invert(1);
	padding-left: 10px;
	padding-right: 10px;
}

@media (max-width: 750px) {
	.project-card-title {
		justify-content: space-between;
	}
}
