.home {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.home-right-column {
	width: 25%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; /* In this case, aligning horizontally */
}

.home-content {
	width: 75%;
	height: 100%;
	/*
	@media (max-width: 600px)
	{}
	Possible only in SCSS - sass
	*/
}

/* Again, top row is made same height, as width of right column */
.home-content-top {
	height: 30%; /* height */
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.home-content-middle {
	height: 70%; /* height */
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

/*
@media (max-width: 750px) {
	.home {
		display: flex;
		flex-direction: column;
	}

	.home-right-column {
		width: 100%;
	}

	.home-content {
		width: 100%;
	}
}
*/
