.education-container {
	padding: 0px;

	display: flex;
	flex-direction: column;
}

.education-container-row {
	display: flex;
	/* flex-direction: column; */
	/* margin: 2px; */
	/* padding-right: 2px; */
	/* margin-right: 3px; */
}

.edu-logo {
	width: 40px;
	height: 40px;
	padding: 5px;
	margin: 5px;
}

.edu-logo.selected {
	border: 1px solid white;
}

.education-container-info-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	/* height: 50%; */
	/* width: 100%; */

	background-color: black;
	border-radius: 10px;

	box-sizing: border-box;

	/* margin-right: 10px; */

	padding-left: 10px;
	padding-right: 10px;

	width: 100%;
	max-width: 420px;
	height: 120px;

	/* margin-top: 5px;
	margin-left: 5px;
	margin-right: 10px;

	padding-left: 15px;
	padding-right: 15px;

	padding-top: 5px;
	padding-bottom: 5px; */

	line-height: 17pt;
}

.education-container-info-box-paragraph {
	margin: 0px;
	font-size: 13px;
}

@media (max-width: 750px) {
	.education-container {
		justify-content: space-between;
		box-sizing: border-box;
		/* height: 175px; */
		/* padding-left: 5px; */
		justify-content: center;
		align-items: center;
	}

	.education-container-info-box {
		/* margin: 0px; */

		width: 97%;
		max-width: 500px;
		/* height: 120px; */
	}
}
