.greetings {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	/* border-bottom: 1px solid lightgray; */
}

.greetings-content {
	display: flex;
	flex-direction: column;

	margin: 0px;
	margin-top: 10px;

	text-align: center;
}

.greetings-my-name {
	margin: 0px;
	margin-bottom: 5px;
	color: lightgreen;
}

.greetings-connect {
	display: flex;
	flex-direction: row;

	box-sizing: border-box;
	margin-top: 5px;
	padding-bottom: 5px;

	/* justify-content: center; */
	align-items: center;
	text-align: center;
}
