.experience-card-company-name-url {
	display: flex;
	align-items: center;
}

.experience-card-position {
	display: flex;
	flex-direction: column;
}

.experience-card-position-name-duration {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.experience-card-position-name {
	max-width: 60%;
}

.experience-card-position-duration {
	max-width: 40%;
	margin: 0px;
	font-style: italic;
	font-size: 12px;
	padding-right: 15px;
}

.experience-card-position-activity {
	margin-left: -12px;
	padding-right: 12px;
	margin-top: 5px;
}

.company-goto-img {
	width: 20px;
	height: 20px;
	filter: invert(1);
	padding-right: 10px;
}

@media (max-width: 705px) {
	.experience-card-company-name-url {
		justify-content: space-between;
	}
}
